.normal {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
    display: flex;
}

.main {
    padding: 0 8px;
    flex: 1 0 auto;
}

.header {
    line-height: 50px;
    margin-left: 200px;
    width: 80%;
    height: 100%;
    background: #ffffff;
    padding: 0 0;
}

.menu {
    line-height: 50px;

}
