.table {
  :global {
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
      padding: 5px 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.2rem;
    }
  }
}

.menu {
  :global {
    .ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
      height: 30px;
      line-height: 30px;
    }

    .ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
      font-size: 1.2rem;
    }
  }
}

.context {
  :global {
    .ant-form label {
      font-size: 1.2rem;
    }

    .ant-input {
      height: 26px;
      font-size: 1.2rem;
    }

    button, html [type="button"], [type="reset"], [type="submit"] {
      -webkit-appearance: button;
      font-size: 1.2rem;
      height: 26px;
    }

    .ant-layout, .ant-layout * {
      font-size: 1.2rem;
    }

    .ant-calendar {
      font-size: 1.2rem;
      line-height: 1.2;
      text-align: left;
      list-style: none;
    }

    .ant-select-selection--single {
      position: relative;
      height: 26px;
      cursor: pointer;
      font-size: 1.2rem;
    }
  }
}

.bottom_context {
  text-align: right;
  height: 36px;
  margin-bottom: -5px;

}

